body {
    background-color: rgb(198, 198, 198);
  }
  h1 {
    color: rgb(0, 0, 0);
    margin-right: 30px;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .header{
    text-align: center;
    height: 40px;
    width: 100%;
    padding: 0 10px;
  }

  .navbar li{
    display: inline-block;
  }
  .navbar a{
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 25px;
    width: 100%;
    display: block;
  }
  

  .dropdown {
    /* ... */
    height: 0;
    overflow: hidden;
  }
  .arrow {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    vertical-align: middle;
    border-left: 0.15em solid currentColor;
    border-bottom: 0.15em solid currentColor;
    transform: rotate(-45deg);
    margin-left: 0.38em;
    margin-top: -0.25em;
  }  
  .dropdown {
    /* ... */
    transition: height ease 0.2s;
  }
  .arrow {
    /* ... */
    transition: transform 100ms ease-in-out;
  }